@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');


*{
    margin:0;
    padding:0;
}

body{
    background-color: hsl(0, 0%, 86%)
}

#main{
    width: 100%;
    display: flex;
    justify-content: center;
}

#main-container{
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    flex-direction: column;
    margin-top: 5%;
    border-radius: 18px;
    border-bottom-right-radius: 129px;
}

#main-inputs{
    display: flex;
    padding: 5%;
}

#dia{
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    color: hsl(0, 1%, 44%);
    font-weight: 700;
    font-size: 70%;
    letter-spacing: 2px;
}

#mes{
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    color: hsl(0, 1%, 44%);
    font-weight: 700;
    font-size: 70%;
    letter-spacing: 2px;
}

#ano{
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    color: hsl(0, 1%, 44%);
    font-weight: 700;
    font-size: 70%;
    letter-spacing: 2px;
}

#input-dia{
    width: 65%;
    height: 43px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 86%);
    margin-top: 2%;
    font-family: Poppins;
    padding-left: 7%;
}

#input-mes{
    width: 65%;
    height: 43px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 86%);
    margin-top: 2%;
    font-family: Poppins;
    padding-left: 7%;
}

#input-ano{
    width: 65%;
    height: 43px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 86%);
    margin-top: 2%;
    font-family: Poppins;
    padding-left: 7%;
}

#oo{
    border-style: none;
    background-color: #ffffff00;
}

#linha{
    width: 82%;
    margin-left: 37px;
}

#svg{
    display: flex;
    justify-content: end;
    padding-right: 5%;
}

#svg-container{
    background-color: hsl(259, 100%, 65%);
    width: 8%;
    border-radius: 27px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: -4%;
}

#svg-foto{
    padding-top: 3px;
    width: 27px;
}

#resultado{
    padding-left: 5%;
}

#resultado-ano{
    display: flex;
}

#resultado-mes{
    display: flex;
}

#resultado-dia{
    display: flex;
}

#conteudo-ano{
    font-family: Poppins;
    font-style: italic;
    font-weight: 800;
    font-size: 350%;
    padding-left: 1%;
}

#conteudo-mes{
    font-family: Poppins;
    font-style: italic;
    font-weight: 800;
    font-size: 350%;
    padding-left: 1%;
}

#conteudo-dia{
    font-family: Poppins;
    font-style: italic;
    font-weight: 800;
    font-size: 350%;
    padding-left: 1%;
    padding-bottom: 4%;
}

#Res-ano{
    font-family: Poppins;
    font-style: italic;
    font-weight: 800;
    font-size: 350%;
    color:hsl(259, 100%, 65%);
}

#Res-mes{
    font-family: Poppins;
    font-style: italic;
    font-weight: 800;
    font-size: 350%;
    color:hsl(259, 100%, 65%);
}

#Res-dia{
    font-family: Poppins;
    font-style: italic;
    font-weight: 800;
    font-size: 350%;
    color:hsl(259, 100%, 65%);
}

#ERRO_DIA{
    font-size: 75%;
    margin-left: 3%;
    color: red;
}
#ERRO_MES{
    font-size: 75%;
    margin-left: 3%;
    color: red;
}
#ERRO_ANO{
    font-size: 75%;
    margin-left: 3%;
    color: red;
}

footer{
    position: fixed;
    bottom: 0;
    justify-content: center;
    display: flex;
    width: 100%;
}

